<% layout('layouts/boilerplate')%>
<script>
    const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
</script>
<div id="cluster-map"></div>
<h1>All Campgrounds</h1>
<% for (let campground of campgrounds){ %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <%if(campground.images.length){%>
                    <img crossorigin="anonymous" src="<%= campground.images[0].url %>" alt="" 
                    class="img-fluid d-block" 
                    style="width: 100%; height: 200px; object-fit: cover;">
                <% }else{%>
                <img crossorigin="anonymous" src="https://res.cloudinary.com/dfmdqbghk/image/upload/v1732723004/YelpCamp/yxd0xlq79syvhcywgj5e.jpg" alt="" class="fluid"">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.title %></h5>
                    <p class="card-text">
                        <%= campground.description.length > 100 
                            ? campground.description.substring(0, 200) + '...' 
                            : campground.description %>
                    </p>
                    <p class="card-text">
                        <small class="text-muted"><%= campground.location %></small>
                    </p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"><%= campground.title %></a>
                </div>
            </div>
        </div>
    </div>
<%}%>

<script src="/javascripts/clusterMap.js"></script>
